.magnetic {
	@include standartBlock(75px 0px);
	&__box {
		width: 100%;
		background-color: $blockBg;
		height: 610px;
		border-radius: 30px;
		@include standartFlex(row, center, flex-start);
		gap: 60px;
		.magnetic__video {
			width: 50%;
			height: 100%;
			img {
				width: 100%;
				height: 100%;
				display: block;
			}
		}
		.magnetic__content {
			width: 40%;
			@include standartFlex(column, flex-start, flex-start);
			gap: 40px;
		}
	}
}
