.navigation {
	@include standartBlock(30px 0px);
	.nav__box {
		width: 100%;
		@include standartFlex(row, center, flex-start);
		gap: 50px;
		.nav__links {
			@include standartFlex(row, center, center);
			gap: 40px;
			&_item {
				font-family: $roboto;
				font-size: $px16;
				font-weight: 400;
			}
			&_logo {
				padding: 0px 150px;
			}
		}
		.nav__socials {
			gap: 15px;
			@include standartFlex(row, center, flex-end);
		}
	}
}
